/* En este archivo escriban su CSS */

/* Fonts */
/* Importar aquí la font */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,700;1,400&display=swap');


/* Aquí les dejamos como ayuda este "reset" en el cual ajustamos algunas propiedades
*  cuyos valores asigna por defecto el navegador.
*/

/* Reset */
body {
    background-color: #fbfbfb;
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    line-height: 1.5;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* Para que el scrolleo en la one page sea suave */
    scroll-behavior: smooth;
}

/* Este max-width es para que el contenido no se "estire" demasiado hacia los costados y
*  el margin: auto; para tenerlo centrado fácilmente ;)
*/
main {
    max-width: 1200px;
    margin: auto;
    /* min-width: 100px; */
}

section, article {
    text-align: center;
    
}

section {
    min-height: 100vh;
}

header {
    position: fixed;
    width: 100%;
    background-color: #fbfbfb;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    padding: 35px;
    box-shadow: 0 0 30px 0 gray; 
}

/* Para quitar los puntos a los items de listas */
ul {
    list-style: none;
}

.nav {
    display: inline;
    padding-right: 2rem;
}
/*correcion logo inline en html*/
#logo {
    width: 60px;
    height: 70px;
}

#image {
    border-radius:50%;
    max-width: 360px;
    width: 100%;
    margin-top:10rem;
}

.not-space{
    min-height: 0vh;
}

.title {
    font-size: 36px;
}

.subtitle {
    font-size: 28px;
}
/* Para que los enlaces hereden el color de texto y no tengan subrayado */
a {
    text-decoration: none;
    color: inherit;
}

p {
    padding: 20px;
    margin: 10px;
    color: #0f0f0f;
}

.download {
    min-width: 50px;
    font-weight: 700;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
    font-size: 20px;
    color:#fbfbfb;
    background-color: #af599e;
}
/*area de descripcion e icono de fontawsome*/
span{
    font-weight: 700;
    color: red;
}
 i{
    color:#f59622
 }

 /*para separar el area de contacto*/
.space {
    margin-top: 300px;

}

/*Fondo hablemos*/
.background {
    background-color: rgba(175, 89, 158, 0.3);
    border-radius: 10px;
}

#icons {
    display: flex;
    justify-content: space-evenly;
    color: rgb(12, 12, 75);
}
/*para dar tamaños a los iconos*/
.box-icons-0{
    width: 100px;
    height: 100px;
}

.box-icons{
    width: 100px;
    height: 100px;
}
#icons img:hover{
    transition: 450ms;
    transform: scale(1.3)
}

footer {
    height: 90px;
    color: #fbfbfb;
    background-color:#af599e;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* desktop */
@media(min-width:1200px){
    #desktop-version{
        display: flex;
        padding-top: 10rem;
    }
/*dar tamaño a imagen*/
    .not-space{
        width: 300%;
    }

    #image{
        margin-top: 0;
    }
/*para alinear titulo,descripcion y boton */
    .position{
        text-align: start;
    }

    h1{
        padding-left: 2rem;
    }

    .download{
        margin-left: 2rem;
    }
/*para centrar el texto de hablemos*/
    .new-definition{
        width: 100%;
        margin: auto;
    }

    .background{
        width: 60%;
        padding-left: ;
        margin: auto;
        margin-bottom: 60px;
    }
    /*centrar iconos*/
    #icons{
        display: flex;
        justify-content:center;
    }
    
    .box-icons{
        margin-left: 130px;
    }

    /*quitar 100%vh*/
    section{
        min-height: 0vh;
    }
    .box-icons, .box-icons-0{
        margin-bottom: 100px;
    }
}
/* Recomendaciones! 
*  - Comenzar desde lo más general y luego ir hacia lo mas específico, asignando primero
*    "estilos generales". Una buena idea sería comenzar por el <body> ;)
*
*  - Recuerden que queremos evitar "repetir código", en CSS usando la cualidad de la herencia
*    podemos setear ciertas propiedades en un elemento padre y dejar que sean heredadas (por ejemplo: font-size)
*
*  - Nadie sabe todas las propiedades CSS de memoria, si no saben como hacer algo no lo recuerdan, la respuesta
*    pueden encontrarla buscando en la web algo como "CSS como hacer ... " o "propiedad css para hacer ..."
*
*  - Usen mucho las herramientas para desarrolladores del navegador para ir
*    probando el CSS que escriben, resolver dudas y problemas.
*
*  - Paciencia, resiliencia y creatividad! No se desanimen, las primeras experiencias maquetando con HTML y CSS
*    pueden ser frustrantes, pero estas habilidades se van desarrollando con la experiencia, es como aprender
*    un trabajo manual, hacer una artesanía, tocar un instrumento musical... la práctica es todo!
*/